@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Croissant+One&family=Satisfy&display=swap');


/* .card{
    transition: transform .2s ease;
    
}
.card:hover{
    transform: scale(1.1);
    margin: 10px;
} */
body {
  position: relative;
  background-color: #264653;
}
.nav-container{
  font-family: 'Akaya Telivigala', cursive;
}
.navbar-brand{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* shape CSS */
.custom-shape-divider-bottom-1696575295 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1696575295 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1696575295 .shape-fill {
  fill: #fffefe;
}
/* end shape CSS */
.top-content{
  text-align: justify;
  font-size: 16px;
}
.movie-card-name >button{
  font-family: 'Croissant One', cursive;
  letter-spacing: 1px;
  background-color: #bc6c25;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  font-weight: bold;
}
.movie-card-name:hover {
  background-color: #fff;
  color: black;
}

.card-text{
  height: 160px;
  overflow: hidden;
}


.rating-content{
  font-size: 16px;
  background-color: #cc3363;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.imdb{
  height: 30px;
}
